/* Juego */
h2{
    font-weight: bold;
}
/* Tablero */
.tablero-contenedor{
    min-height: 70vh;
}
.tablero-grid{
    display: grid;
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
    place-content: center;
}

/* Carta */
.carta{
    width: 100%;
    height: 150px;
    background-color: #0d63fd;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}
.carta:hover{
    transform: scale(1.08);
}
.carta.abierta img{
    background-color: #f8f9fa;
    color: black;
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

/* contenedor */
.carta-contenedor {
  width: 150px;
  height: 150px;
  perspective: 1000px; /* 🔥 profundidad */
  cursor: pointer;
}

/* parte que rota */
.carta-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* cuando se voltea */
.carta-inner.flip {
  transform: rotateY(180deg);
}

/* caras */
.carta-frente,
.carta-atras {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden; /* 🔥 oculta la cara trasera */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* frente */
.carta-frente {
  background: #0d63fd;
  color: white;
  font-size: 2rem;
}

/* atrás */
.carta-atras {
  background: white;
  transform: rotateY(180deg);
}

/* imagen */
.carta-atras img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}