/* Juego */
h2{
    font-weight: bold;
}
.modal {
  background: rgba(0,0,0,0.5);
}

/* Tablero */
.tablero-contenedor{
    min-height: 70vh;
}
.tablero-grid{
    display: grid;
    gap: 8px;

    /* 🔥 evita desbordamiento */
    width: 100%;
    max-width: 100%;

    /* columnas adaptables */
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

    justify-items: center;
}

/* Carta */
.carta-contenedor {
  width: 100%;
  max-width: 120px;
  aspect-ratio: 1 / 1; /* mantiene cuadrado */
  cursor: pointer;
}

/* parte que rota */
.carta-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* cuando se voltea */
.carta-inner.flip {
  transform: rotateY(180deg);
}

/* caras */
.carta-frente,
.carta-atras {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden; /* oculta la cara trasera */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* frente */
.carta-frente {
  background: #0d63fd;
  color: white;
  font-size: 2rem;
}

/* atrás */
.carta-atras {
  background: white;
  transform: rotateY(180deg);
}

/* imagen */
.carta-atras img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


/* Móvil */
@media (max-width: 576px){
  .tablero-grid{
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 992px){
  .tablero-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop */
@media (min-width: 993px){
  .tablero-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}