.elemento{
    cursor: grab;
    width: 120px;
    transition: all .3s ease-in-out;
}
.elemento:hover{
    transform: rotate(3deg);
}

.areas{
    width: 250px;
    height: 160px;
    border: 3px dashed gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-weight: 900;
    transition:0.3s;
}

.correcto{
    background:#c8f7c5;
    border:2px solid green;
}

.incorrecto{
    animation:sacudir 0.4s;
    border:2px solid red;
}

@keyframes sacudir{
0%{transform:translateX(0)}
25%{transform:translateX(-6px)}
50%{transform:translateX(6px)}
75%{transform:translateX(-6px)}
100%{transform:translateX(0)}
}

.game-bg{
  min-height:100vh;
  background: linear-gradient(135deg,#74b9ff,#a29bfe);
}

.inicio-bg{
  min-height:100vh;
  background:rgba(0,0,0,0.2);
}

.start-card{
  width:420px;
  background:white;
  border-radius:20px;
  position:relative;
  padding-top:70px;
}

.robot-img{
  width:430px;
  position:absolute;
  top:-50px;
  left:50%;
  transform:translateX(-50%);
}

.start-btn{
  padding:14px 28px;
  border-radius:12px;
  font-size:18px;
}

.progress-circle{
  position:relative;
  width:220px;
  height:220px;
}

.count-number{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:70px;
  font-weight:bold;
  color:#28a745;
}

.icono-sonido{
  width: 60px;
  height: 60px;
}